# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/
.env/

# Logs
*.log

# IDE and editor settings
.vscode/
.idea/

# Python package files
*.egg-info/
*.egg
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
